<div class="clock">
    <div class="contenedor text-center">
        <div class="tituloOficial">Your progress!</div>
        <div>
            <img src="../../../../assets/clock.png" class="imgClock mt-3 mb-3">
            <p>{{user.daysInARowWithoutSmoking}} days without smoking</p>
        </div>
      </div>
</div>


<div class="row text-center mt-5">
    <div class="col-12 progreso">
        <div class="subtitulo">
            <label class="progressFont">Smoke free days</label> <img src="../../../../assets/calendar.png" class="miniImg">
            <p>{{user.daysInARowWithoutSmoking}}    
        </div>

        <div class="subtitulo">
            <label class="progressFont">Cigarettes avoided</label><img src="../../../../assets/no-smoking.png" class="miniImg">
            <p>{{dineroAhorrado}}
        </div>
        
        <div class="subtitulo">
             <label class="progressFont">Money Saved</label><img src="../../../../assets/piggy-bank.png" class="miniImg">
            <p>{{cigarrosNoFumados}}
        </div>

      </div>
</div>

