<h1 class="text-center title mb-3">General Data</h1>
<!--FOTO + name-->
<div class="row text-center card">
  <div class="card-body">
    <div class="foto">
      <div>
        <img class="photo img-responsive" src="{{ img }}" />
      </div>
      <!--Subida de imagen-->
      <div>
        <label for="files" class="btn mt-2">Select an image</label
        ><!--Se ha colocado esta label para que no se muestre el texto en castellano-->
        <input
          type="file"
          id="files"
          class="mt-2"
          (change)="selectFile($event)"
          style="display: none"
        />
        <button
          class="btn btn-dark"
          [disabled]="!selectedFiles"
          (click)="checkImage()"
        >
          Upload
        </button>
        <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
          <ngx-dropzone-label>Select a profile picture</ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngFor="let f of files"
            [removable]="true"
            (removed)="onRemove(f)"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="h3 mt-3 name">{{ user.name }} {{ user.lastName }}</div>
    </div>
  </div>

  <!--Data-->
  <div class="row text-center">
    <div class="data mb-3">
      <!--email-->
      <div>
        <img
          src="../../../../assets/correo-electronico-vacio.png"
          alt="User email"
          class="icon"
        />
        {{ user.email }}
      </div>
      <!--start date-->
      <div>
        <img
          src="../../../../assets/calendar(1).png"
          alt="User email"
          class="icon"
        />
        {{ user.startDate }}
      </div>
      <!--username-->
      <img src="../../../../assets/account.png" alt="User email" class="icon" />
      {{ user.username }}
    </div>
  </div>
</div>
