@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap');
.title{
  font-family: 'Titan One', cursive;
}

.subtitulo{
  font-style: italic;
}

.photo {
  width: 150px;
  background-color: white;
}

.icon {
  max-width: 2%;
  height: auto;
}

.card{
  margin: auto 12rem;
  background-color: #f2f2f2;
}

label{
  background-color: #52ab98;
  margin-right: 2rem;
  color: white;
}


/*IPAD*/
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .card {
    margin: auto 5rem !important;
    background-color: #f2f2f2;
    text-align: center;
  }

  .divInferior{
    margin-left:  0px !important;


  }
}
.dropzone{
  margin: 1rem 12rem;
}

.boton{
  margin-top: 1rem;
  background-color: #52ab98;
  border: #52ab98;
}

.boton:hover{
  background-color: #226456;
}
