<div class="row ml-auto" id="cover">
  <div class="col "></div>
    <form method="get" action="">
      <div class="tb">
        <div class="td"><input type="text" name="busqueda" [(ngModel)]="busqueda" placeholder="Search user" required></div>
        <div class="td" id="s-cover">
          <button type="submit" (click)="buscarUser()">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
</div>

  <div *ngIf="usuarioRecibido">
    <div class="compare">
      <div class="profile-card">
        <div class="card-header">
          <h3>Username: {{usuarioEncontrados.username}}</h3>
          <h3>Name: {{usuarioEncontrados.name}}</h3>
          <h3>Lastname: {{usuarioEncontrados.lastName}}</h3>
        </div>
      <img class="image1" src="http://vignette2.wikia.nocookie.net/fairytail/images/7/77/Natsu_prof.jpg/revision/latest?cb=20110731042906" alt="profile Image">
      <div class="card-info">
        <p>Email: {{usuarioEncontrados.email}}</p>
      </div>
    </div>
  </div>