<div>
  <div class="contenedor text-center">
      <p class="tituloOficial">QUIT IT</p>
      <p class="derecha">YOU CAN WIN IF YOU WANT</p>
  </div>

  <div class="row pulmonesdiv">
    <div class="col-lg-1 col-md-0 col-sm-0"></div>
    <div class="col-lg-3 col-md-4  col-sm-12">
      <img src="../../../assets/livianos.png" class="pulmones">
    </div>
    <div class="col-lg-7 col-md-8 mt-3">
      <p class="text-center frase"><i>"Smoking can be an ephemeral, fleeting and momentary pleasure, but quitting is a full, continuous and timeless satisfaction”</i></p>
    </div>
  </div>
</div>