<div class="row mt-1">
  <div class="col-2">
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link text-dark"
        id="v-pills-profile-tab"
        data-toggle="pill"
        routerLinkActive="active"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="[{ outlets: { setting: ['generalData'] } }]"
        >General data</a
      >
      <a
        class="nav-link text-dark"
        id="v-pills-messages-tab"
        data-toggle="pill"
        role="tab"
        routerLinkActive="active"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="[{ outlets: { setting: ['exSmokerData'] } }]"
        >Smoking data</a
      >
      <a
        class="nav-link text-dark"
        id="v-pills-settings-tab"
        data-toggle="pill"
        routerLinkActive="active"
        href="#v-pills-settings"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
        [routerLink]="[{ outlets: { setting: ['changePass'] } }]"
        >Change password</a
      >

      <a
        class="nav-link text-dark"
        href="https://www.amazon.es/s?k=stop+smoking+books&__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=P0L10B3DDN7L&sprefix=stop+smoking+books%2Caps%2C87&ref=nb_sb_noss"
        target="_blank"
        >Stop smoking books</a
      >
    </div>
  </div>

  <!--Router outlet auxiliar-->
  <div class="col-10">
    <!--Texto auxiliar-->
    <div class="text-center">
      <h4 class="my-4 title">Change and manage your personal data</h4>
    </div>
    <router-outlet name="setting"></router-outlet>
  </div>
</div>
