@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.title{
  font-size: 35px;
}

.active{
  color: white!important;
  background-color: #2b6777!important;
}

a{
  margin-left: 1em;
}