.active{
  background-color: #2b6777!important;
  color: white!important;
}

@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Source+Sans+Pro&display=swap');
*{
  font-family: 'Martel', serif;
}
