<div class="row clase justify-content-around">
  <p class="title mt-2 mb-5">{{group.name}}</p>
  <div class="col-4 members">
    <p class="titleMembers mb-4">Members</p>
    <div class="text-center">
      <p *ngFor="let member of group.groupMembers">{{member.user.username}} - {{member.cargo}}</p>
    </div>
  </div>
  <div class="col-7 ranking">
    <p class="titleMembers">Ranking</p>
  </div>
</div>
<div class="row justify-content-center chat">
  <div class="col-9 chat">
    <p class="titleMembers">CHAT</p>
  </div>
</div>
<div class="row">
  <div class="mt-5">
    <button class="btn boton text-center" (click)="addMember()">
      Add member
    </button>

    <!--FORMULARIO PARA AÑADIR UN AMIGO-->
    <div *ngIf="newUser">
      <!--Formulario de creación de grupos-->
      <form class="form" autocomplete="off" [formGroup]="myForm">
          <!--MEMBER NAME-->
          <div class="form-group grupo">
            <label for="memberName">Member name</label>
            <input
              type="text"
              class="form-control"
              formControlName="memberName"
              name="memberName"
              placeholder="Enter the username of your friend"
              [value]="myForm.get('memberName')?.value"
              (keyup)="searchFriend()"
            />

            <span
              class="form-text text-danger"
              *ngIf="campoNoValido('memberName')"
            >
              {{ memberNameError }}
            </span>
            <span class="form-text text-danger" *ngIf="!checkFieldOfFriend()">
              {{ memberAlreadyAdded }}
            </span>
            <!--TABLA DE AMIGOS COINCIDENTES -->
            <table
              class="table table-hover"
              *ngIf="
                friendsFound.length > 0 &&
                showTable &&
                myForm.get('memberName')?.value != ''
              "
            >
              <tbody>
                <tr *ngFor="let friend of friendsFound">
                  <td>
                    <div *ngIf="friend.imageUrl != null; else elseBlock">
                      <img
                        src="{{ friend.imageUrl }}"
                        alt="friend profile picture"
                      />
                    </div>
                    <ng-template #elseBlock>
                      <img
                        src="../../assets/account.png"
                        alt="friend profile picture"
                        class="icon2"
                      />
                    </ng-template>
                  </td>
                  <td (click)="selectFriend($event)" class="username">
                    {{ friend.username }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--MAKE ADMIN - CHECKBOX-->
          <div>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="admin"
            />
            <label class="form-check-label" for="admin">Make admin</label>
          </div>
        <!--ADD MEMBER-->
        <div>
          <button
            [disabled]="myForm.invalid || memberAlreadyAddedMistake == true"
            class="btn boton mt-4"
            (click)="pushMember()"
          >
            ADD MEMBER
          </button>
        </div>

        <!--SUBMIT-->
        <div class="text-center">
          <button
            type="submit"
            class="btn boton"
            [disabled]="myForm.invalid"
            (click)="submitForm()"
          >
            CREATE
          </button>
        </div>
      </form>
    </div>

</div>
