<p class="title mt-2 mb-5">{{ group.name }}</p>
<div class="row">
  <div class="row">
    <!--OPCIONES DE GRUPO-->
    <div class="mt-5">
      <button class="btn boton text-center" (click)="addMember()">
        Add member
      </button>
      <button
        *ngIf="checkUsersRole()"
        class="btn boton text-center"
        data-bs-toggle="modal"
        data-bs-target="#deleteMemberModal"
        routerLinkActive="active"
      >
        Delete member
      </button>
      <button class="btn boton text-center" (click)="deleteMember('oneSelf')">
        Leave group
      </button>
      <button
        *ngIf="checkUsersRole()"
        class="btn boton text-center"
        (click)="deleteGroup()"
      >
        Delete group
      </button>
    </div>

    <!--FORMULARIO PARA AÑADIR UN AMIGO-->
    <div>
      <div *ngIf="newUser" class="row addMemberForm py-3">
        <!--Formulario de creación de grupos-->
        <form class="form" autocomplete="off" [formGroup]="myForm">
          <!--MEMBER NAME-->
          <div class="form-group grupo">
            <label for="memberName">Username</label>
            <input
              type="text"
              class="form-control"
              formControlName="memberName"
              name="memberName"
              placeholder="Enter the username of your friend"
              [value]="myForm.get('memberName')?.value"
              (keyup)="searchFriend()"
            />

            <span
              class="form-text text-danger"
              *ngIf="campoNoValido('memberName')"
            >
              {{ memberNameError }}
            </span>
            <span class="form-text text-danger" *ngIf="!checkFieldOfFriend()">
              {{ memberAlreadyAdded }}
            </span>
            <!--TABLA DE AMIGOS COINCIDENTES -->
            <table
              class="table table-hover"
              *ngIf="
                friendsFound.length > 0 &&
                showTable &&
                myForm.get('memberName')?.value != ''
              "
            >
              <tbody>
                <tr *ngFor="let friend of friendsFound">
                  <td>
                    <div *ngIf="friend.imageUrl != null; else elseBlock">
                      <img
                        src="{{ friend.imageUrl }}"
                        alt="friend profile picture"
                      />
                    </div>
                    <ng-template #elseBlock>
                      <img
                        src="../../assets/account.png"
                        alt="friend profile picture"
                        class="icon2"
                      />
                    </ng-template>
                  </td>
                  <td (click)="selectFriend($event)" class="username">
                    {{ friend.username }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--MAKE ADMIN - CHECKBOX-->
          <div class="check">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="admin"
            />
            <label class="form-check-label" for="admin">Make admin</label>
          </div>
          <!--ADD MEMBER-->

          <!--SUBMIT-->
          <div class="text-center">
            <button
              type="submit"
              class="btn boton"
              [disabled]="myForm.invalid || memberAlreadyAddedMistake"
              (click)="submitForm()"
            >
              ADD
            </button>
          </div>
        </form>
      </div>
    </div>
    <!--INFO DE GRUPO-->
    <div class="row clase justify-content-around">
      <div class="col-4 members">
        <p class="titleMembers mb-4">
          Members
          <button *ngIf="editing">
            <img
              src="../../../assets/close.png"
              class="iconEdit"
              (click)="editRoles($event)"
            />
          </button>
        </p>
        <div class="text-center">
          <div *ngIf="!editing">
            <p *ngFor="let member of group.groupMembers">
              {{ member.user.username }} - {{ member.cargo }}
              <button>
                <img
                  id="{{ member.user.username }}"
                  name="{{ member.cargo }}"
                  src="../../../assets/edit.png"
                  class="iconEdit"
                  (click)="editRoles($event)"
                />
              </button>
            </p>
          </div>
          <div *ngIf="editing">
            <div *ngFor="let member of group.groupMembers">
              <label for="{{ member.user.username }}">{{
                member.user.username
              }}</label>
              <select
                name="{{ member.user.username }}"
                id="{{ member.user.username }}"
                [(ngModel)]="member.user.username"
              >
                <option
                  value="{{ member.user.username }}"
                  id="{{ member.user.username }}"
                >
                  ADMIN
                </option>
                <option
                  value="{{ member.user.username }}"
                  id="{{ member.user.username }}"
                >
                  NO_ADMIN
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7 ranking">
        <p class="titleMembers">Ranking</p>
        <app-ranking-group [reload]="reload"></app-ranking-group>
      </div>
    </div>
    <div class="row justify-content-center chat mb-5">
      <div class="col-9 chat">
        <p class="titleMembers">CHAT</p>
        <app-comments-group></app-comments-group>
      </div>
    </div>
  </div>

  <!--MODAL - ADD MEMBER-->

  <div
    class="modal fade"
    id="addMemberModal"
    tabindex="-1"
    aria-labelledby="addMemberModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title" id="addMemberModalLabel">ADD MEMBER</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Choose the friend you want to add</div>
        <div></div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn botonNo" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn botonYes"
            data-bs-dismiss="modal"
            (click)="addMember()"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL - DELETE MEMBER-->
  <div
    class="modal fade"
    id="deleteMemberModal"
    tabindex="-1"
    aria-labelledby="deleteMemberModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteMemberModalLabel">DELETE MEMBER</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Choose the member you want to remove</div>
        <div>
          <select [(ngModel)]="opcion">
            <option
              *ngFor="let member of membersToDelete"
              value="{{ member.user.username }}"
            >
              {{ member.user.username }}
            </option>
          </select>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn botonNo" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn botonYes"
            data-bs-dismiss="modal"
            (click)="deleteMember()"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL - EDIT MEMBERS ROLE-->
  <div *ngIf="editing">
    <div
      class="modal fade"
      id="editRoleMemberModal"
      tabindex="-1"
      aria-labelledby="editRoleMemberModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h5 class="modal-title" id="editRoleMemberModalLabel">
              EDIT MEMBERS' ROLE
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div *ngFor="let member of group.groupMembers">
            <label for="{{ member.user.username }}">{{
              member.user.username
            }}</label>
            <select
              name="{{ member.user.username }}"
              id="{{ member.user.username }}"
              [(ngModel)]="member.user.username"
            >
              <option
                value="{{ member.user.username }}"
                id="{{ member.user.username }}"
              >
                {{ member.user.username }}
              </option>
            </select>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn botonNo" data-bs-dismiss="modal">
              Cancel
            </button>
            <button
              type="button"
              class="btn botonYes"
              data-bs-dismiss="modal"
              (click)="deleteMember()"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
