
/*FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Federo&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Roboto+Serif:wght@100&family=Satisfy&family=Yellowtail&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap');


* {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.fondoAzulClaro {
  background-color: #fce181;
}

.h100 {
  height: 100%;
  min-height: 20vh;
}

.fondoGris {
  background-color: rgb(226, 223, 223);
}

.icon {
  max-width: 40px;
  height: auto;
}

.hoverZoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.img {
  width: 30%;
}

.imgIconos{
  width: 17%;
}

.navbar-toggler-icon {
  background-color: black;
  border-radius: 15px;
}

.logo{
  max-width: 70%;
}



.signup{
  padding-bottom: 0.3em;
}

.casa{
  width: 10%;
  padding-bottom: 0.2em;
}

.login{
  width: 22%;
  padding-bottom: 0.3em;
}


/*Móvil*/
@media screen and (max-width: 575px) {
  .settings {
    position: relative;
    list-style: none;
    margin-top: 0.5em;
  }

  .settings a {
    text-decoration: none;
  }

   .login{
    width: 10%;
    margin-right: 0.5rem;
   }

   .signup{
    width: 10%;
    margin-right: 0.5rem;
   }

}


/*TÁBLET EN ADELANTE*/
@media screen and (min-width: 576px) {
  .settings {
    right: 0;
    position: absolute;
    list-style: none;
  }

  .settings a {
    text-decoration: none;
  }

  .nav-item{
    margin-left: 2rem;
  }
}

.active {
  text-shadow: 4px 4px 2px #fef9c7;
  font-family: 'Titan One', cursive;
  font-weight: bold;
  font-size: 30px;
}

