@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");
/*CARTAS*/

.title {
  font-family: "Titan One", cursive;
}

.imgAchievement {
  width: 180px;
}

.img {
  width: 150%;
}

.content {
  margin-right: 3.7rem;
  margin-left: 3.5rem;
}

.card {
  margin-bottom: 1rem;
  padding: 8rem;
}

.card:hover{
  background-color: #c8d8e4;
  cursor: pointer;
}
