<app-clock></app-clock>

<div class="row">
    <!--COMMUNITY-->
    <div class="card__container m-lg-auto m-md-auto separacion" routerLink="/commentsCommunity">
        <img src="../../../assets/img/earth.jpg"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo">
        <div class="card__description">Community</div>
    </div>
</div>



<div class="row paddingCards " >
  
    <div class="card__container2 m-lg-auto m-md-auto separacion" routerLink="/achievements">
        <img src="../../../assets/img/earth.jpg"   alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo">
    <!--     <div class="card__photo"></div> -->
        <div class="card__description">Achievements</div>
        </div>
  
        <div class="card__container2 m-lg-auto m-md-auto separacion" routerLink="/penalties">
        <img src="../../../assets/img/earth.jpg"  alt="imagen constituida con fragmentos de diferentes elementos como un ordenador, un minicarro de la compra, dinero y un cartel luminoso" class="card__photo">
    <!--     <div class="card__photo"></div> -->
        <div class="card__description">Penalties</div>
        </div>
  
        
  </div>



<!--RANKING-->
<div class="card__container m-lg-auto m-md-auto separacion"  routerLink="/rankingCommunity" >
    <img src="../../../assets/img/earth.jpg"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo">
    <div class="card__description">Ranking</div>
</div>

<!--MEET UPS-->
<div class="card__container m-lg-auto m-md-auto separacion" routerLink="/meetUps">
    <img src="../../../assets/img/earth.jpg"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo">
    <div class="card__description">Meet ups</div>
</div>





