@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");
/*CARTAS*/

.title {
  font-family: "Titan One", cursive;
  margin-top: 1.5rem;
}

.img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-right: 2.3rem;
  margin-left: 2.3rem;
  z-index: 0;
}

.card {
  margin-bottom: 1rem;
  height: 12rem;
}

.card:hover{
  background-color: #c8d8e4;
  cursor: pointer;
}

@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.biggerCursor{
  cursor: url('../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.spacing{
  letter-spacing: 3px!important;
}
