<app-clock></app-clock>
<div class="content mt-3">
  <div class="row justify-content-around">
    <!--COMMUNITY-->
    <div class="card col-md-2 text-center" routerLink="/commentsCommunity">
      <div class="title">Community</div>
      <br />
      <img
        src="../../../assets/earth.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>
    <!--MEET UPS-->
    <div class="card col-md-2 text-center" routerLink="/meetUps">
      <div class="title">Meet ups</div>
      <img
        src="../../../assets/evento.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>

    <!--RANKING-->
    <div class="card col-md-2 text-center" routerLink="/rankingCommunity">
      <div class="title">Ranking</div>
      <br />
      <img
        src="../../../assets/ranking.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>

    <!--ACHIEVEMENTS-->
    <div class="card col-md-2 text-center" routerLink="/achievements">
      <div class="title">Achievements</div>
      <img
        src="../../../assets/badge.png"
        alt="imagen de un minicarro de la compra y un ordenador portatil"
        class="img"
      />
    </div>

    <!--PENALTIES-->
    <div class="card col-md-2 text-center" routerLink="/penalties">
      <div class="title">Penalties</div>
      <img
        src="../../../assets/red-card.png"
        alt="imagen constituida con fragmentos de diferentes elementos como un ordenador, un minicarro de la compra, dinero y un cartel luminoso"
        class="img"
      />
    </div>
  </div>

  <div class="row justify-content-around"></div>
</div>

<app-floating-button ubicacion="User area"></app-floating-button>
