<app-clock></app-clock>

<div class="row">
    <!--COMMUNITY-->
    <div class="card__container m-lg-auto m-md-auto separacion" routerLink="/commentsCommunity">
        <div class="card__description">Community</div><br>
        <img src="../../../assets/earth.png"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo imgEarth">
       
    </div>
</div>



<div class="row paddingCards " >
  
    <div class="card__container2 m-lg-auto m-md-auto separacion" routerLink="/achievements">
        <div class="card__description">Achievements</div>
            <img src="../../../assets/badge.png"   alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo imgAchievement">
        </div>
  
        <div class="card__container2 m-lg-auto m-md-auto separacion" routerLink="/penalties">
            <div class="card__description">Penalties</div>
            <img src="../../../assets/red-card.png"  alt="imagen constituida con fragmentos de diferentes elementos como un ordenador, un minicarro de la compra, dinero y un cartel luminoso" class="card__photo imgAchievement">
        </div>
  
        
  </div>



<!--RANKING-->
<div class="card__container m-lg-auto m-md-auto separacion"  routerLink="/rankingCommunity" >
    <div class="card__description">Ranking</div><br>
    <img src="../../../assets/ranking.png"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo imgEarth">
</div>

<!--MEET UPS-->
<div class="card__container m-lg-auto m-md-auto separacion" routerLink="/meetUps">
    <div class="card__description">Meet ups</div>
    <img src="../../../assets/evento.png"  alt="imagen de un minicarro de la compra y un ordenador portatil" class="card__photo imgEarth"> 
</div>





