
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");


.contenedor{
    margin-left: 4em;
    margin-right: 4em;
}

h1{
    text-align:  center;
    font-family: "Titan One", cursive;
}