.boton{
  background-color: #2b6777;
}

.title{
  font-family: 'Titan One', cursive;
  text-align: center;
}

form{
  background-color: rgb(226, 233, 240);
  padding-top: 2rem;
}


@font-face {
  font-family: "OpenDyslexic3Regular";
  src: local("OpenDyslexic3Regular"), url(../../../../assets/fonts/OpenDyslexic-Regular.otf) format("truetype");
}

.dyslexia{
  font-family: 'OpenDyslexic3Regular'!important;
  font-weight: normal;
  font-style: normal;
}

.biggerCursor{
  cursor: url('../../../../assets/cursor(1).png'), auto!important;/*hay imitaciones en cuanto al tamaño de los cursores*/
}

.spacing{
  letter-spacing: 3px!important;
}
