<div>
  <div class="row">
    <h3 class="title">My groups</h3>
    <!--Create group-->
    <div class="mt-5">
      <button class="btn boton text-center newGroup" (click)="crearGroup()">
        Create group
      </button>
    </div>
    <div *ngIf="crear">
      <!--Formulario de creación de grupos-->
      <form class="form" autocomplete="off" [formGroup]="myForm">
        <!--GROUP NAME-->
        <div class="form-group">
          <label for="groupName">Group name</label>
          <input
            type="text"
            class="form-control"
            id="groupName"
            formControlName="groupName"
            name="groupName"
            placeholder="Enter a group name"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoValido('groupName')"
          >
            {{ groupNameError }}
          </span>
        </div>
        <!--Añade miembros a los grupos-->

        <div
          class="row mt-4 p-0 m-0"
          *ngIf="
            !this.myForm.get('groupName')?.invalid &&
            this.myForm.get('groupName')?.value != null
          "
        >
          <!--MEMBER NAME-->
          <div class="form-group grupo">
            <label for="memberName">Member name</label>
            <input
              type="text"
              class="form-control"
              formControlName="memberName"
              name="memberName"
              placeholder="Enter the username of your friend"
              [value]="myForm.get('memberName')?.value"
              (keyup)="searchFriend()"
            />

            <span
              class="form-text text-danger"
              *ngIf="campoNoValido('memberName')"
            >
              {{ memberNameError }}
            </span>
            <span class="form-text text-danger" *ngIf="!checkFieldOfFriend()">
              {{ memberAlreadyAdded }}
            </span>
            <!--TABLA DE AMIGOS COINCIDENTES -->
            <table
              class="table table-hover"
              *ngIf="
                friendsFound.length > 0 &&
                showTable &&
                myForm.get('memberName')?.value != ''
              "
            >
              <tbody>
                <tr *ngFor="let friend of friendsFound">
                  <td>
                    <div *ngIf="friend.imageUrl != null; else elseBlock">
                      <img
                        src="{{ friend.imageUrl }}"
                        alt="friend profile picture"
                      />
                    </div>
                    <ng-template #elseBlock>
                      <img
                        src="../../assets/account.png"
                        alt="friend profile picture"
                        class="icon2"
                      />
                    </ng-template>
                  </td>
                  <td (click)="selectFriend($event)" class="username">
                    {{ friend.username }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--MAKE ADMIN - CHECKBOX-->
          <div>
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="admin"
            />
            <label class="form-check-label" for="admin">Make admin</label>
          </div>
        </div>
        <!--ADD MEMBER-->
        <div>
          <button
            [disabled]="myForm.invalid || memberAlreadyAddedMistake == true"
            class="btn boton mt-4"
            (click)="pushMember()"
          >
            ADD MEMBER
          </button>
        </div>

        <!--SUBMIT-->
        <div class="text-center">
          <button
            type="submit"
            class="btn boton"
            [disabled]="groupMembers.length < 1"
            (click)="submitForm()"
          >
            CREATE
          </button>
        </div>
      </form>
    </div>

    <!--MEMBERS SELECTED-->
    <div>
      <div class="conjuntoGrupo">
        <div
          class="row vistaGrupo justify-content-evenly"
          *ngIf="groupMembers.length > 0"
        >
          <div class="title mb-5">{{ myForm.get("groupName")?.value }}</div>
          <div
            class="card cardMember text-center"
            style="width: 18rem"
            *ngFor="let member of groupMembers"
          >
            <img
              *ngIf="member.user.imageUrl != null"
              src="{{ member.user.imageUrl }}"
              alt="friend profile picture"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="">{{ member.user.username }} - {{ member.cargo }}</h5>
              <button class="btn boton" (click)="deleteMember(member)">DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--List group-->
  <div class="mt-4 row">
    <div
      class="row justify-content-around mt-5"
      *ngIf="groups.length > 0; else elseBlock"
    >
      <div
        class="card col-md-2 text-center group"
        *ngFor="let group of groups"
        routerLink="/groupArea/group/{{ group.id }}"
      >
        <div class="title">{{ group.name }}</div>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="noGroups">You don't have any group yet.</div>
    </ng-template>
  </div>
</div>
