@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Roboto+Serif:wght@100&family=Satisfy&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&family=Titan+One&display=swap");


.img{
    width: 40px;
    margin-left: 10px;
}

.newGroup{
    float: right;
    margin-right: 3em;
}
.title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 2em;
    font-family: "Titan One", cursive;
    font-weight: bold;
    text-shadow: 4px 4px 2px #c8d8e4;
  }

  .boton{
    background-color: #52ab98 ;
    }

.noGroups{
  text-align: center;
  margin-top: 8rem;
}

form{
  margin: 2rem 8rem;
}

.icon {
  max-width: 30px;
  height: auto;
  border-radius: 50%;
}

.icon2{
  max-width: 35px;
  height: auto;
}

.addMember{
  border-radius: 5%;
}

.username:hover{
  cursor: pointer;
}
